.data-text{
    -fx-font: 20px Tahoma;
    -fx-fill: linear-gradient(to left, #7904eb, #ff00a1);
    -fx-stroke: black;
    -fx-stroke-width: 0.5;
}

.data-pane-border{
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-border-color: black;
}