.cyberpunk-line-chart {
    -fx-text-fill: #fe76ff;
    -fx-title-side: top;
    -fx-legend-side: right;
    -fx-vertical-grid-lines-visible: false;
    -fx-horizontal-grid-lines-visible: false;
    -fx-alternative-row-fill-visible: false;
    -fx-tick-label-fill: #fe76ff;
}